{% extends '@AcmeSecure/default/layout.html.twig' %}

{% block content %}
<p>SECURED</p>
<p>
{% if user %}
{{ user.username|e }} :
{% for r in user.roles %}
{{ r|e }} 
{% endfor %}
{% endif %}
</p>
<p>
<a href="{{ path('acme_secured_logout') }}">Logout</a>
</p>
<p>
<a href="{{ path('user.acme_secured_change_password') }}">Change password</a>
</p>
<p>
<a href="{{ path('acme_secure.admin') }}">Admin</a>
</p>
{% endblock content %}